div {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: red;
    box-shadow: 2px 2px 8px black ;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8");
    background-size: cover;
}