#one {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: inline-block;
  position: static;
  top: 100px;
  left: 100px;
}

#relative {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: inline-block;
  position: relative;
  left: 100px;
  top: 100px;
}
#absolute {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  border: 2px solid black;
  margin: 20px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
}
