h1 {
  text-align: center;
}
.todo-container {
  position: static;
  margin-left: 40vw;
  border: 2px solid black;
  height: 400px;
  width: 300px;
  display: flex;
}
.task-input {
  margin-left: 42vw;
  margin-top : 10px
}
