body {
  background-image: url(job562-nunoon-05.jpg);
  background-size: cover;
}
.card {
  width: 400px;
  border: 2px solid white;
  border-radius: 25px;
  background-size: contain;
  padding: 10px;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 25px;
}

img:hover {
  box-shadow: 2px 2px 2 white;
}

h1 {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

span {
  color: #9d6f24;
}

h4 {
  text-align: right;
  color: #3c787e;
}

h3 {
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.pets {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content:space-evenly;
}
p {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}
.card:hover{
  box-shadow: 2px 2px 2px 5px white;
  flex-grow: 0.2;
  transition-duration: 3s;
}
