.container {
  width: 600px;
  height: 300px;
  background-color: yellow;
  display: grid;
  /* grid-template-rows: 50px 50px 50px 50px 50px; 
  grid-template-columns: 200px 200px 200px; */
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  grid-gap: 2px 2px;
  justify-items: center;
  align-items: end; 
}
.item {
  width: 100px;
  height: 50px;
  background-color: yellowgreen;
  border: 2px solid black;
  text-align: center;
}
.one {
  width: 100px;
  height: 50px;
  background-color: yellowgreen;
  border: 2px solid black;
  text-align: center;
  /* grid-column-start:1 ;
    grid-column-end: 3; */
  grid-column: 1 / span 3;
}
.two {
  width: 100px;
  height: 50px;
  background-color: yellowgreen;
  border: 2px solid black;
  text-align: center;
  grid-row: 2/5;
}
