#outer{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: pink;
    font-size: 20px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: skyblue;
    font-size: 2em;
    padding: 2em;
}
button{
    border-radius: 45px;
    font-size: 60px;
    padding-left: 1em;
    padding-right: 1em;
}