#parent {
  background-color: skyblue;
  border: 2px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  position: absolute;
  left: 200px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}
#I {
  background-color: rgb(255, 98, 0);
  height: 100px;
  width: 300px;
  border: 2px solid black;
  align-self: baseline;
}
#II {
  background-color: rgb(0, 119, 128);
  height: 100px;
  width: 300px;
  border: 2px solid black;
}
#III {
  background-color: blueviolet;
  height: 100px;
  width: 300px;
  border: 2px solid black;
}
