.parent{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
div{
    height: 100px;
    width: 100px;
    background-color: grey ;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    margin: 10px;
    text-align: center;
}