
h1,
h2 {
  text-align: center;
}

.game-container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */
  gap: 10px; /* space between boxes */
  width: 300px;
  height: 300px;
}

.btn {
  background: #eee;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.flash {
    background-color: white;
}