* {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
}
h1,
h3 {
  color: red;
}
#login {
  background-color: white;
}
#signup {
  color: white;
  background-color: red;
  border-color: red;
}
.upvote {
  color: white;
  background-color: green;
  border-color: green;
}
.answer {
  color: white;
  background-color: red;
  border-color: red;
}
p a {
  color: purple;
}
p + h3 {
  text-decoration: underline;
}
<!--ATTRIBUTE SELECTOR-- > input[type="text"] {
  color: red;
}
input[type="password"] {
  color: red;
}

<!--PSEUDO CLASS-- > button[class="answer"]:hover {
  background-color: white;
  color: red;
}
button[class="upvote"]:hover {
  background-color: white;
  color: green;
}
button[class="answer"]:active {
  background-color: white;
  color: black;
  border-color: black;
}
input[type="radio"]:checked + label {
  color: red;
}
.div:nth-of-type(2) {
  color: red;
}
<!--PSEUDO ELEMENTS-->
h1::first-letter{
  color: black;
}
.pseudoelement p::first-line{
 color: green;
}
.pseudoelement p::selection{
  background-color: limegreen;
}