* {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
h1 {
  color: #1b74e4;
  font-size: 50px;
}
.userbtn{
  color: white;
  background-color: blue;
  border-color: blue;
}
#searchbtn{
    color: white;
    background-color: black;
}
