<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Now!!</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="email">Email:</label>
      <input
        style="margin-left: 28px; margin-top: 2px"
        type="email"
        id="email"
        name="email"
        required
      /><br />
      <label for="password">Password:</label>
      <input
        style="margin-top: 2px"
        type="password"
        id="password"
        name="password"
        required
      /><br />

      <button style="margin-top: 10px; margin-left: 80px" type="submit" >
        Register
      </button>
    </form>
  </body>
</html>
